/* Default setting */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Default font size */
}

/* Content under navigation bar */
.content-wrapper {
    margin-top: 40px;
    padding: 20px;
}

/* Navigation bar style */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Button style */
.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Table Style */
.table {
    margin-top: 20px;
}

.table th, .table td {
    font-size: 1rem;
    padding: 10px;
}

.table th {
    background-color: #343a40;
    color: white;
}

/* Table responsive */
.table-responsive {
    overflow-x: auto;
}

/* Center forms */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

/* Form design */
.form-container, .register-container, .login-container {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Question List style */
.question-title {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Responsive design */

/* Mobile */
@media (max-width: 576px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    p, a, label, input, button {
        font-size: 1.2rem;
    }

    .content-wrapper {
        margin-top: 60px;  /* Navigation margin */
    }

    .form-container, .register-container, .login-container {
        width: 90%;
    }

    .btn {
        font-size: 1.2rem;
        padding: 12px 20px;
    }

    .table {
        font-size: 0.9rem;
    }
}

/* Tablet*/
@media (min-width: 577px) and (max-width: 768px) {
    body {
        font-size: 17px;
    }

    .form-container, .register-container, .login-container {
        width: 70%;
    }
}

/* Desktop */
@media (min-width: 769px)
